* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #292c21;
  background-color: #f4f4ee;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar {
  padding: 1rem 0;
  margin-top: 1rem;
  height: auto;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  color: #292c21;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav a:hover {
  color: #b6c754;
}

.logo {
  display: flex;
  flex-direction: column;
  line-height: 2.3rem;
}

.logo a {
  color: #292c21;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.logo .first {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
}

.logo .last {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.65rem;
  font-weight: bold;
}

.header {
  margin-top: 4rem;
}

.header .container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header .container h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  max-width: 45ch;
  line-height: 3rem;
}

.header .container p {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  font-weight: 100;
  max-width: 65ch;
}

.work .container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.box {
  width: 27rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.work img {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.categoryHeader {
  margin-top: 4rem;
}

.projectScroller {
  display: flex;
  gap: 4rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.projectCardsContainer {
  display: flex;
  flex-shrink: 0;
  gap: 10rem;
}

.projectIntro {
  min-width: 30vw;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.dartTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dartFirst {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4rem;
  font-weight: bolder;
}

.dartLast {
  font-family: "Playfair Display", serif;
  font-size: 3.7rem;
  font-weight: 600;
  margin-top: -2.5rem;
}

.projectCard {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  min-width: 900px;
  max-width: 900px;
  flex-shrink: 0;
}

.projectCard--center {
  align-items: center;
}

.projectText {
  display: flex;
  flex-direction: column;
}

.projectTitle {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.projectDescription {
  font-family: "Roboto Condensed", sans-serif;
  font-size: .6rem;
  max-width: 23rem;
}

.projectDescription--width {
  max-width: 20rem;
}

.projectDescription--projThreeWidth {
  max-width: 17rem;
}

.container .image {
  width: 30rem;
  /* border: 1px solid black; */
}

.banners {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categoryHeader img {
  display: block;
  width: 100%;
}