* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #111;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar {
  padding: 1rem 0;
  margin-top: 1rem;
  height: auto;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  color: #111;
  font-weight: 200;
  transition: color 0.2s ease-in-out;
}

.nav a:hover {
  color: #10B981;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 2.3rem;
}

.logo .first {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.logo .last {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.65rem;
}

.header {
  margin-top: 4rem;
}

.header .container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header .container h1 {
  font-size: 3rem;
  max-width: 45ch;
  margin: 0 auto;
}

.header .container p {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 100;
  max-width: 65ch;
}