* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #292c21;
  background-color: #f4f4ee;
}

header .scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 40px;
  line-height: 1.3;
}

header .scroll-track {
  display: inline-flex;
  animation: scroll-name 60s linear infinite;
}

header .scroll-track span {
  font-size: clamp(4rem, 18vw, 10rem);
  flex-shrink: 0;
  color: orange;
  font-family: "Fjalla One", "Helvetica", "Arial", sans-serif;
}

@keyframes scroll-name {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.nav-options {
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav-options a {
  text-decoration: none;
  color: black;
  font-family: "Fjalla One", "Helvetica", "Arial", sans-serif;
}

.nav-options a:hover {
  opacity: 0.7;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: "Fjalla One", "Helvetica", "Arial", sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 1;
}